@import 'normalize';
@import 'new_post_form';

html, body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight:200;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

a {
  text-decoration: none !important;
  color: inherit;
}

#sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #f5f7f9;
    padding: 7em 0 0 0;
    border-right: 1px solid #d6dce0;
    #logo {
      width: 40px;
      position: absolute;
      right: 3em;
      top: 3em;
    }
    ul {
      list-style: none;
      text-align: right;
      padding-right: 3em;
      .category {
        font-weight: 300;
        font-size: 0.9em;
        text-transform: uppercase;
        color: #33acb7;
        letter-spacing: .5px;
      }
      li {
        padding: .5em 0;
        display: inline-block;
        a {
          color: #9eafba;
          text-decoration: none;
          transition: all .4s ease;
          &:hover {
            color: #33acb7;
          }
        }
      }
      .active {
        a {
          color: #33acb7;
        }
      }
  }
  .sign_in {
    position: absolute;
    right: 3em;
    top: 80%;
    font-size: .8em;
    color: #9eafba;
  }
}

.button {
  outline: none;
  background: transparent;
  border: 1px solid #9d9d9d;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
    a {
      color: #33acb7 !important;
      text-decoration:none;
    }
  }
  a {
    color: #9d9d9d;
  }
  
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

div.main_content.blog {
 
    float:left;
    width: 100vw;
    position: relative;
    top:-120px;
    margin-left: 0px;
    
    #header {
      
      width:100vw;
      padding-top:20px;
      background-color: transparent;
      color: #9eafba;
      display:inline-block;
      
      ul.user_options {
        display:inline;
        float:right;
        li {
          display:inline-block;
          margin-right: 30px;
          float:right;
        }
      }
      p {
        display: inline;
        position:relative;
        top:.5em;
        left: 30px;
      }
      a {
        color: #9eafba;
        text-decoration: none;
      }
      .buttons {
        float: right;
        margin-top: -6px;
        .button {
          font-size: .8em;
          margin-left: .5em;
        }
      }
    }
    .post_wrapper {
      padding: 3em;
      border-bottom: 1px solid #d6dce0;
      .title {
        margin: 0;
        a {
          font-weight: 300;
          text-decoration: none;
          color: #2a2f35;
          font-size: 1.5em;
          &:hover {
            color: #33acb7;
          }
        }
      }
      .date_and_author {
        color: #9eafba;
        margin: .5em 0 0 0;
      }
    }

    #post_content {
      padding: 1em 3em;
      .title {
        font-weight: 300;
        text-decoration: none;
        color: #2a2f35;
        font-size: 2.5em;
        margin-bottom: 0;
      }
      .body {
        font-size: 1.1em;
        line-height: 1.75;
      }
      .date_and_author {
        color: #9eafba;
        margin: .5em 0 2em 0;
      }
      #comments {
        h2 {
          margin: 3em 0 .25em 0;
          border-bottom: 1px solid #d6dce0;
          padding-bottom: 0.5em;
          font-size:.9em;
        }
        h3 {
          margin-top: 2em;
        }
        .comment {
          border-bottom: 1px solid #d6dce0;
          .clear_both {
            clear: both;
          }
          &:after {
            clear: both;
          }
          .comment_content {
            float: left;
            .comment_name {
              margin: 1em 0 0 0;
              font-size: 0.7em;
              text-transform: uppercase;
            }
            .comment_body {
              font-size: .9em;
              margin: 0.2em 0 0 0;
            }
            .comment_time {
              margin-top: 1.2em;
              font-size: .7em;
            }
          }

          .zero_margin {
            margin-top:0px;
            margin-bottom: 0px;
          }

          #delete_button.button {
            padding-top: .3em;
            padding-bottom: .3em;
            padding-left: .75em;
            padding-right: .75em;
            font-size: .8em;
            margin-top: 2em;
            letter-spacing: .4px;
          }

          .button {
            float: right;

          }
        }
        input[type="text"], textarea {
          width: 50%;
        }
      }
    }
  

    #page_wrapper {
      padding: 3em;
      #profile_image {
        width: 300px;
        float: left;
        margin-right: 2em;
        img {
          width: 100%;
          border-radius: 0.35em;
        }
      }
    
      #content {
        h1 {
          font-weight: 500;
        }
        p {
          font-size: 1.1em;
          line-height: 1.75;
        }
        a {
          color: #33acb7;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
     
  
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 90%;
    border: 1px solid #d6dce0;
    border-radius: .35em;
    margin-top: 10px;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text"] {
    height: 35px;
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    margin-left: .5em;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    }
  }
  
}

/* main content new post */
div.main_content.new_post {
 
    float:left;
    width: 100vw;
    position: relative;
    top:-510px;
    margin-left: 0px;
 
    
    #header {
      margin-left:15px;
      width:100vw;
      background-color: transparent;
      color: #9eafba;
      display:inline-block;
  

    
      
      ul.user_options {
        display:inline;
        float:right;
        li {
          display:inline-block;
          margin-right: 30px;
          float:right;
        }

      }

      a img.back {
          position: relative;
          top: 5px;
        }

      p {
        display: inline;
        position:relative;
        top:.5em;
        left: 30px;
      }
      a {
        color: #9eafba;
        text-decoration: none;
      }
      .buttons {
        float: right;
        margin-top: -6px;
        .button {
          font-size: .8em;
          margin-left: .5em;
        }
      }
    }
    .post_wrapper {
      padding: 3em;
      border-bottom: 1px solid #d6dce0;
      .title {
        margin: 0;
        a {
          font-weight: 300;
          text-decoration: none;
          color: #2a2f35;
          font-size: 1.5em;
          &:hover {
            color: #33acb7;
          }
        }
      }
      .date_and_author {
        color: #9eafba;
        margin: .5em 0 0 0;
      }
    }

    #post_content {
      padding: 1em 3em;
      .title {
        font-weight: 300;
        text-decoration: none;
        color: #2a2f35;
        font-size: 2.5em;
        margin-bottom: 0;
      }
      .body {
        font-size: 1.1em;
        line-height: 1.75;
      }
      .date_and_author {
        color: #9eafba;
        margin: .5em 0 2em 0;
      }
      #comments {
        h2 {
          margin: 3em 0 .25em 0;
          border-bottom: 1px solid #d6dce0;
          padding-bottom: 0.5em;
          font-size:.9em;
        }
        h3 {
          margin-top: 2em;
        }
        .comment {
          border-bottom: 1px solid #d6dce0;
          .clear_both {
            clear: both;
          }
          &:after {
            clear: both;
          }
          .comment_content {
            float: left;
            .comment_name {
              margin: 1em 0 0 0;
              font-size: 0.7em;
              text-transform: uppercase;
            }
            .comment_body {
              font-size: .9em;
              margin: 0.2em 0 0 0;
            }
            .comment_time {
              margin-top: 1.2em;
              font-size: .7em;
            }
          }

          .zero_margin {
            margin-top:0px;
            margin-bottom: 0px;
          }

          #delete_button.button {
            padding-top: .3em;
            padding-bottom: .3em;
            padding-left: .75em;
            padding-right: .75em;
            font-size: .8em;
            margin-top: 2em;
            letter-spacing: .4px;
          }

          .button {
            float: right;

          }
        }
        input[type="text"], textarea {
          width: 50%;
        }
      }
    }
  

    #page_wrapper {
      padding: 3em;
      padding-top: 0;
      #profile_image {
        width: 300px;
        float: left;
        margin-right: 2em;
        img {
          width: 100%;
          border-radius: 0.35em;
        }
      }
    
      #content {
        h1 {
          font-weight: 500;
        }
        p {
          font-size: 1.1em;
          line-height: 1.75;
        }
        a {
          color: #33acb7;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
     
  
  .links {
    margin: 2em 0;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 90%;
    border-radius: .35em;
    padding: .5em 1em;
    line-height: 1.75;
  }
  input[type="text"] {
    height: 35px;
  }
  textarea {
    min-height: 180px;
  }
  input[type="submit"] {
    outline: none;
    background: transparent;
    border: 1px solid #9d9d9d;
    padding: .5em 1.5em;
    font-size: 1.1em;
    margin-left: .5em;
    color:#9d9d9d;
    &:hover {
      border: 1px solid #33acb7;
      color: #33acb7;
    }
  }
  
}

/* background styling */
.background {
 width:1275px;
 
 min-height: 469px;
 min-width: 1115px;
  &.home {
    height:90vh;
  }

  &.new_post {
    height:600px;
  }
}

div.background_image {
  h3#welcome_message {
    position: relative;
    top: -300px;
    position: auto;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}

/* navbar styling */

div.container.no_margins {
  margin: 0px;
  padding: 0px;
}

div.navbar-wrapper.no_margins {
  margin: 0px;
  padding: 0px;
}

nav.navbar.navbar-inverse.navbar-static-top {
  width:100vw;
  border-radius: 0;
  border: none;
  background-color: transparent;
 
}

div.navbar-wrapper {
  position:fixed;
}

ul.nav.navbar-nav {
  float:right;
  
  li {
    a {
      color:white;
    }
    #navbar_about {
      margin-right:3em;
    }
    
  }
  
}

div.navbar-header {
  a.navbar-brand {
    color:white;
  }
}


div.container.color_nav{
  background-color:transparent;
  height:80px;
}

.rounded_nav_pictures {
  
  border-radius: 1em;
  width: 30px;
  height:30px;
  margin-top: .7em;
  margin-right:1.25em;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    border: 1px solid #9eafba;
  }
  &.twitter {
    background-image: url("twitter_logo.png");
    background-size: 15px 12px; 
  }
  &.instagram {
    background-image: url("instagram_logo.png");
    background-size: 13px 13px;
  }

  &.github {
    background-image: url("github_logo.png");
    background-size: 15px 15px;
  }
  &.email {
    background-image: url("email_logo.png");
    margin-right:10px;
    background-size: 15px 11px;
    a {
      padding:0px;
    }
  }
}

/*main content styling*/

